*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(56, 54, 48);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

button {
  padding: 0.5rem 1rem;
  border-radius: 7px;
  border: none;
  background-color: rgb(95, 87, 80);
  color: rgb(255, 248, 237);
  font-size: 1.1rem;
  cursor: pointer;
  position: absolute;
}

.pictures {
  height: 500px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 500px;
  height: auto;
  aspect-ratio: 4 / 3;
  position: absolute;
  display: none;
  border-radius: 8px;
}

.vertical {
  height: 500px;
  width: auto;
  aspect-ratio: 3 / 4;
}
